[include macros.cfg]
# [include klicky-probe.cfg]
[include config-Euclid.cfg]
[include z_calibration.cfg]
[include TEST_SPEED.cfg]


[mcu]
##	[X in MOTOR0] - B Motor
##	[Y in MOTOR1] - A Motor
##	[E in MOTOR6] - Extruder
##	Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_08003B00105053424E363620-if00
#restart_method: command
##--------------------------------------------------------------------

[mcu rpi]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: rpi:None

[resonance_tester]
accel_chip: adxl345
probe_points:
    125,125,20  # an example


[temperature_sensor pi]
sensor_type: temperature_host
sensor_path: /sys/class/thermal/thermal_zone0/temp

[temperature_sensor mcu]
sensor_type: temperature_mcu

[printer]
kinematics: corexy
max_velocity: 1000
max_accel: 3000    			#Max 4000
max_z_velocity: 30
max_z_accel: 350
square_corner_velocity: 8

#####################################################################
# 	X/Y Stepper Settings
#####################################################################

## X Stepper on MOTOR0(B Motor)
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper

endstop_pin: PG9
position_min: 1
position_endstop: 303
position_max: 303
homing_speed: 50   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc5160 stepper_x]
cs_pin: PC4
interpolate: false
#run_current: 1.000
run_current: 0.8
sense_resistor: 0.075
stealthchop_threshold: 0
spi_software_mosi_pin: EXP2_6
spi_software_miso_pin: EXP2_1
spi_software_sclk_pin: EXP2_2
driver_TBL: 0
driver_TOFF: 4
driver_HEND: 0
driver_HSTRT: 4

## Y Stepper on MOTOR1 (A Motor)
[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: PG6
position_min: 0
position_endstop: 306
position_max: 306
homing_speed: 50  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc5160 stepper_y]
cs_pin: PD11
interpolate: false
#run_current: 1.000
run_current: 0.8
sense_resistor: 0.075
stealthchop_threshold: 0
spi_software_mosi_pin: EXP2_6
spi_software_miso_pin: EXP2_1
spi_software_sclk_pin: EXP2_2
driver_TBL: 0
driver_TOFF: 4
driver_HEND: 0
driver_HSTRT: 4
 
#####################################################################
# 	Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left on MOTOR2_1
[stepper_z]
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: !PG14
position_max: 240
position_min: -5
homing_speed: 15
second_homing_speed: 3.0
homing_retract_dist: 2.0
position_endstop: 3.2
##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PC6
run_current: 0.8
hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 1
driver_TBL: 0
driver_TOFF: 7
driver_HEND: 2
driver_HSTRT: 0
driver_PWM_GRAD: 8
driver_PWM_LIM: 10

##	Z1 Stepper - Rear Left on MOTOR3
[stepper_z1]
step_pin: PG4
dir_pin: PC1
enable_pin: !PA0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PC7
# interpolate: false
# run_current: 0.8
# sense_resistor: 0.110
# stealthchop_threshold: 0
run_current: 0.8
hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 1
driver_TBL: 0
driver_TOFF: 7
driver_HEND: 2
driver_HSTRT: 0
driver_PWM_GRAD: 8
driver_PWM_LIM: 10

##	Z2 Stepper - Rear Right on MOTOR4
[stepper_z2]
step_pin: PF9
dir_pin: !PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: PF2
# interpolate: false
# run_current: 0.8
# sense_resistor: 0.110
# stealthchop_threshold: 0
run_current: 0.8
hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 1
driver_TBL: 0
driver_TOFF: 7
driver_HEND: 2
driver_HSTRT: 0
driver_PWM_GRAD: 8
driver_PWM_LIM: 10

##	Z3 Stepper - Front Right on MOTOR5
[stepper_z3]
step_pin: PC13
dir_pin: PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z3]
uart_pin: PE4
# interpolate: false
# run_current: 0.8
# sense_resistor: 0.110
# stealthchop_threshold: 0
run_current: 0.8
hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 1
driver_TBL: 0
driver_TOFF: 7
driver_HEND: 2
driver_HSTRT: 0
driver_PWM_GRAD: 8
driver_PWM_LIM: 10


#####################################################################
# 	Extruder
#####################################################################

#	E0 on MOTOR6
[extruder]
step_pin: PE2
enable_pin: !PD4
# Orbiter
dir_pin: PE3
rotation_distance: 34.37086
gear_ratio: 7.5:1
microsteps: 16
full_steps_per_rotation: 200
max_extrude_only_distance: 500
max_extrude_only_velocity: 60 
max_extrude_only_accel: 600

# Serpha
# dir_pin: PE3
# rotation_distance: 22.67895
# gear_ratio: 50:10 #for standard 10t motor
# max_extrude_only_distance: 1400.0
# max_extrude_only_velocity: 75.0
# max_extrude_only_accel: 1500
# microsteps: 16
# full_steps_per_rotation: 200



nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: PA2
##	Validate the following thermistor type to make sure it is correct
# sensor_type: ATC Semitec 104GT-2
# sensor_pin: PF3
# pullup_resistor: 4700

sensor_type: MAX31865
sensor_pin: PF8

spi_speed: 4000000
spi_software_sclk_pin: EXP2_2
spi_software_mosi_pin: EXP2_6
spi_software_miso_pin: EXP2_1

rtd_nominal_r: 100
rtd_reference_r: 430
rtd_num_of_wires: 2
rtd_use_50Hz_filter: True

min_temp: 10
max_temp: 300
max_power: 1.0
min_extrude_temp: 170
#control = pid
#pid_kp = 26.213
#pid_ki = 1.304
#pid_kd = 131.721
pressure_advance: 0.02
pressure_advance_smooth_time: 0.010

##	E0 on MOTOR6
##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 extruder]
uart_pin: PE1
interpolate: false
# Orbiter
# run_current: 0.2
# hold_current: 0.1
# Serpha Mini
run_current: 0.2
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
##	SSR Pin - BED_OUT
heater_pin: PA1
sensor_type: Generic 3950
sensor_pin: PF4
##	Adjust Max Power so your heater doesn't warp your bed
max_power: 0.6
min_temp: 0
max_temp: 130
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769

#####################################################################
# 	Probe
#####################################################################

[probe]
pin: ^PG11
#z_offset: 6.42 # klicky
#x_offset: 0     # klicky
#y_offset: 19.75 # klicky
z_offset: 9.5   # euclid
y_offset: 25.0  # euclid
x_offset: -2.5  # euclid

speed: 4
lift_speed: 8
samples:3 
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.0075
samples_tolerance_retries: 3

#####################################################################
# 	Fan Control
#####################################################################

[fan]
##	Print Cooling Fan - CNC_FAN0
pin: PA8
kick_start_time: 0.5
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
off_below: 0.10

[heater_fan hotend_fan]
##	Hotend Fan - CNC_FAN1
pin: PE5
max_power: 1.0
kick_start_time: 1.5
heater: extruder
heater_temp: 50.0
##	If you are experiencing back flow, you can reduce fan_speed
fan_speed: 1.0

#[heater_fan controller_fan]
##	Controller fan - CNC_FAN2
#pin: PD12
#kick_start_time: 0.5
#heater: heater_bed
#heater_temp: 45.0

[controller_fan tmc_fan]
pin:PD12
fan_speed: 1
idle_speed: 1
hardware_pwm: false
max_power: 1
shutdown_speed: 1

[fan_generic OctopusFan]
pin:PD13

[fan_generic PiFan]
pin:PD14

[fan_generic ExternFan]
pin:PD15

#[temperature_fan ChamberExhaust]
#pin: PD15
#max_power: 1.0
#hardware_pwm: false
#kick_start_time: 0.2
#sensor_type: ATC Semitec 104GT-2
#sensor_pin: PF5
#control: pid
#pid_Kp: 2.0
#pid_Ki: 5.0
#pid_Kd: 0.5
#pid_deriv_time: 2.0
#min_temp: 10
#max_temp: 70
#target_temp: 50.0
#max_speed: 1.0
#min_speed: 0.0
#gcode_id: C


#[output_pin caselight]
# Chamber Lighting - HE1 Connector (Optional)
#pin: PA3
#pwm:true
#shutdown_value: 0
#value:1
#cycle_time: 0.01



# [homing_override]
# axes: z
# set_position_z: 0
# gcode:
#    G90
#    G0 Z5 F600
#    G28 X Y
#    G0 x207.500 Y305.000 F3600
#    G28 Z
#    G0 Z10 F1800
#    G0 X150 Y150 Z30 F3600  
        

[idle_timeout]
timeout: 1800

##[safe_z_home]
##	XY Location of the Z Endstop Switch
##	Update -10,-10 to the XY coordinates of your endstop pin 
##	(such as 157,305) after going through Z Endstop Pin
##	Location Definition step.
##home_xy_position:178.600,253.000
##speed:100
##z_hop:10

[quad_gantry_level]

##  Gantry Corners for 300mm Build
##  Uncomment for 300mm build
gantry_corners:
  -60,-10
  360,370
#  Probe points
points:
  50,25
  50,225
  250,225
  250,25

#--------------------------------------------------------------------
speed: 300
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>


#####################################################################
# 	Displays
#####################################################################


[display]
##	mini12864 LCD Display
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2
contrast: 63
spi_software_miso_pin: EXP2_1
spi_software_mosi_pin: EXP2_6
spi_software_sclk_pin: EXP2_2


#####################################################################
# 	Macros
#####################################################################
[bed_mesh]
speed: 300
horizontal_move_z: 10
mesh_min: 40, 40
;mesh_max: 210,210 ; config value before
mesh_max: 260, 260
fade_start: 0.6
fade_end: 10.0
probe_count: 5,5
algorithm: bicubic
relative_reference_index: 12

[gcode_macro BED_MESH_AREA]

; minimum probe count
variable_min_probe_count : 3

gcode:
    {% set max_probe_point_distance = params.MAX_DISTANCE|default(25.0)|float %} ; the maximum distance between two probe points 
    {% set mesh_area_offset = params.MAX_DISTANCE|default(5.0)|float %}     ; the clearance between print area and probe area 

    {% set bedMeshConfig = printer["configfile"].config["bed_mesh"] %}
    {% set safe_min_x = bedMeshConfig.mesh_min.split(",")[0]|float %}
    {% set safe_min_y = bedMeshConfig.mesh_min.split(",")[1]|float %}
    {% set safe_max_x = bedMeshConfig.mesh_max.split(",")[0]|float %}
    {% set safe_max_y = bedMeshConfig.mesh_max.split(",")[1]|float %}

    {% set area_min_x = params.MIN_X|default(safe_min_x)|float %}
	{% set area_min_y = params.MIN_Y|default(safe_min_y)|float %}
	{% set area_max_x = params.MAX_X|default(safe_max_x)|float %}
	{% set area_max_y = params.MAX_Y|default(safe_max_y)|float %}

    {% set meshPointX = bedMeshConfig.probe_count.split(",")[0]|float %}
    {% set meshPointY = bedMeshConfig.probe_count.split(",")[1]|float %}

    {% set area_min_x = [area_min_x - mesh_area_offset, safe_min_x]|max  %}
    {% set area_min_y = [area_min_y - mesh_area_offset, safe_min_y]|max  %}
    {% set area_max_x = [area_max_x + mesh_area_offset, safe_max_x]|min  %}
    {% set area_max_y = [area_max_y + mesh_area_offset, safe_max_y]|min  %}

    { action_respond_info( "Start: " + area_min_x|string + "," + area_min_y|string ) }
    { action_respond_info( "End:   " + area_max_x|string + "," + area_max_y|string ) }

    {% set points_x = (((area_max_x - area_min_x) / ( 2 * max_probe_point_distance)) | int) * 2 + 1 %}
    {% set points_y = (((area_max_y - area_min_y) / ( 2* max_probe_point_distance)) | int) * 2 + 1 %}
    
    {% set points_x = [points_x, min_probe_count]|max  %}
    {% set points_y = [points_y, min_probe_count]|max  %}

    { action_respond_info( "Points: x:" + points_x|string + " y:" + points_y|string ) }

    {% set ref_index = (points_x * points_y / 2) | int %}
    { action_respond_info( "Reference index: " + ref_index|string) }

    BED_MESH_CALIBRATE mesh_min={area_min_x},{area_min_y} mesh_max={area_max_x},{area_max_y} probe_count={points_x},{points_y} relative_reference_index={ref_index}

[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    QUAD_GANTRY_LEVEL
    # Z_ENDSTOP_CALIBRATE 
    # G0 X150 Y150 Z20 F6000

   
[gcode_macro PRINT_START]
gcode:
    M140 S{params.BED_TEMP}
    M190 S{params.BED_TEMP}
    M104 S{params.EXTRUDER_TEMP}
    M109 S{params.EXTRUDER_TEMP}
    G92 e0 ; zero the extruder - Hopefully fix extruder sometimes not starting as expected...
    G21 ; set units to millimeters
    G90 ; use absolute coordinates
    M83 ; use relative distances for extrusion

   

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-10.0 F3600                ; retract filament
    G91                            ; relative positioning
    G0 Z1.00 X20.0 Y20.0 F20000    ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G1 Z2 F3000                    ; move nozzle up 2mm
    G90                            ; absolute positioning
    G0  X125 Y250 F3600            ; park nozzle at rear
    BED_MESH_CLEAR
    

[virtual_sdcard]
path: ~/gcode_files

[display_status]

[pause_resume]

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  PAUSE_BASE
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %} 

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}  
  RESUME_BASE {get_params}

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE


[output_pin LED_pin]
pin: PA3
pwm: True
value: 0
cycle_time: 0.010

[gcode_macro LEDOFF]
gcode:  SET_PIN PIN=LED_pin VALUE=0

[gcode_macro LEDMIN]
gcode:  SET_PIN PIN=LED_pin VALUE=.5

[gcode_macro LEDMAX]
gcode:  SET_PIN PIN=LED_pin VALUE=1


[neopixel my_neopixel]
pin: PB0
#   The pin connected to the neopixel. This parameter must be
#   provided.
chain_count: 16
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRB
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
initial_RED: 0.0
initial_GREEN: 1.0
initial_BLUE: 0.0
# initial_WHITE: 0.0
#   Sets the initial LED color of the Neopixel. Each value should be
#   between 0.0 and 1.0. The WHITE option is only available on RGBW
#   LEDs. The default for each color is 0.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 24.602
#*# pid_ki = 1.155
#*# pid_kd = 131.007
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.095000, 0.088750, 0.060000, 0.091250, 0.086250
#*# 	  0.057500, 0.041250, 0.055000, 0.041250, 0.036250
#*# 	  -0.002500, 0.006250, 0.000000, 0.092500, 0.060000
#*# 	  0.042500, 0.056250, 0.051250, 0.061250, 0.076250
#*# 	  0.117500, 0.110000, 0.130000, 0.097500, 0.120000
#*# tension = 0.2
#*# min_x = 40.0
#*# algo = bicubic
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 40.0
#*# x_count = 5
#*# max_y = 260.0
#*# mesh_x_pps = 2
#*# max_x = 260.0
#*#
#*# [bed_mesh PETG]
#*# version = 1
#*# points =
#*# 	0.085000, 0.045000, 0.051250, 0.042500, 0.071250
#*# 	0.045000, 0.010000, 0.042500, 0.038750, 0.057500
#*# 	0.012500, 0.001250, 0.000000, 0.022500, 0.081250
#*# 	0.051250, 0.048750, 0.025000, 0.036250, 0.068750
#*# 	0.083750, 0.061250, 0.072500, 0.066250, 0.077500
#*# tension = 0.2
#*# min_x = 40.0
#*# algo = bicubic
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 40.0
#*# x_count = 5
#*# max_y = 260.0
#*# mesh_x_pps = 2
#*# max_x = 260.0
#*#
#*# [bed_mesh ABS]
#*# version = 1
#*# points =
#*# 	  0.095000, 0.088750, 0.060000, 0.091250, 0.086250
#*# 	  0.057500, 0.041250, 0.055000, 0.041250, 0.036250
#*# 	  -0.002500, 0.006250, 0.000000, 0.092500, 0.060000
#*# 	  0.042500, 0.056250, 0.051250, 0.061250, 0.076250
#*# 	  0.117500, 0.110000, 0.130000, 0.097500, 0.120000
#*# tension = 0.2
#*# min_x = 40.0
#*# algo = bicubic
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 40.0
#*# x_count = 5
#*# max_y = 260.0
#*# mesh_x_pps = 2
#*# max_x = 260.0
